{% extends "layouts/base.html" %}

{% block content %}
{% include "partials/flash.html" %}

<main class="events_main">
<table class="main_table" cellpadding="0" cellspacing="0">
    {% include "partials/navbar.html" %}
    <tr>
        <td>
            <table class="nested_table_1" border="0" cellpadding="0" cellspacing="0">
                {% for event in all_events %}
                    <tr class="events_heading">
                    <td align="right" valign="top" class="title"><span class="rank">&nbsp;</span></td>
                    <td class="title">
                        <span class="titleline" align="right" valign="top">
                            <a target="_blank" href="{{ event.url }}"><b>{{ event.title }}</b></a>
                        </span>
                        <div class="user_status">
                            {% if is_logged_in %}
                            <button 
                                class="going-btn"
                                hx-post="/api/event/{{ event.id }}/going"
                                hx-target="#attendee-count-{{ event.id }}"
                                hx-swap="outerHTML"
                                title="I'm going">
                                🙋
                            </button>
                            {% else %}
                            <button 
                                class="going-btn"
                                title="I'm going">
                                🙋
                            </button>
                            {% endif %}
                            <span class="event_info_item" id="attendee-count-{{ event.id }}">Going: {{ event.attendee_count }}</span>
                            <span class="event_info_divider">|</span>
                            <span class="event_info_item">{{ event.date }}</span>
                            <span class="event_info_divider">|</span>
                            <span class="event_info_item">{{ event.location }}</span>
                            <span class="event_info_divider">|</span>
                            <span class="event_info_item">{{ event.category }}</span>
                            <span class="event_info_divider">|</span>
                            <span class="event_info_item">Posted by: {{ event.username }}</span>
                        </div>
                    </td>
                    </tr>
                {% endfor %}
            </table>
        </td>
    </tr>
</table>
{% include "partials/footer.html" %}
</main>
{% endblock content %}