{% extends "layouts/base.html" %}

{% block content %}
{% include "partials/flash.html" %}

<table class="main_table" cellpadding="0" cellspacing="0">
    {% include "partials/navbar.html" %}
</table>

<main class="form_main">
<h1>{{ title }}</h1>

<form method="POST" action="/login">
    <table>
        <tr>
            <td>email</td>
            <td>
                <input type="text" name="email" id="email" size="20" autocorrect="off" spellcheck="false" autocapitalize="off" autofocus="true" required>
            </td>
        </tr>
        <tr>
            <td>password</td>
            <td>
                <input type="password" name="password" size="20" id="password" required>
            </td>
        </tr>
    </table>
    <br>
    <input class="form_submit_btn" type="submit" value="log in">
</form>
<p>
    <a href="signup">Sign up</a>
    <br />
    <a href="/">Home</a>
</p>
</main>

{% include "partials/footer.html" %}
{% endblock content %}