<tr>
    <td class="main_td">
        <table class="navbar_table" cellpadding="0" cellspacing="0">
            <tr>
                <td class="logo_in_header">
                    <a href="/"><img src="/assets/images/hn-logo.svg" width="20" height="20"></a>
                </td>
                <td class="td1">
                    <span class="pagetop">
                        {% if is_logged_in %}
                        <span class="navbar_title">Hi {{ logged_in_username }}! · Events</span>
                        {% else %}
                        <span class="navbar_title">Events</span>
                        {% endif %}
                        <span>👇</span>
                    </span>
                </td>
                <td class="td2">
                    <span class="pagetop navbar_links">
                        {% if is_logged_in %}
                            {% if not_home %}
                            <a href="/">home</a>
                            {% else %}
                            <a href="/user_events">my events</a>
                            {% endif %}
                            <a href="/new_event">new event</a>
                            <a href="/logout">log out</a>
                        {% else %}
                            <a href="/login">log in</a>
                        {% endif %}
                    </span>
                </td>
            </tr>
        </table>
    </td>
</tr>